<div class="container-fluid" ng-controller="RoomController">


  <div class="col-lg-10  col-md-10 col-sm-10 col-xs-10">
    <h1>{{room.name}}</h1>
    <div video-conference user="{{me._id}}"></div>
    <!--<div ng-controller="NewMemberController">
      <input type="text" ng-model="newMember.username"><button ng-click="addMember(newMember)">Add member</button>
    </div>
    <ul>
      <li ng-repeat="member in room.members">{{member}}</li>
    </ul>
    <ul>
      <li ng-repeat="member in room.members | filter:{active: true}">{{member.username}}</li>
    </ul>
  </div>-->
      
      <div ng-include="milestoneTemplate"></div>

  <div id="chat" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <div id="chat_messages" >
      <ul class="list-group">
        <li ng-repeat="message in messages" class="list-group-item" id="{{message._id}}"><b>{{message.author.username}}</b> {{message.text}}</li>
      </ul>
    </div>
    <div id="chat_input" class="input-group input-group-lg">
      

      
      <input type="text" class="form-control" ng-model="message" ng-enter="sendMessage(message)" id="{{message._id}}" placeholder="Enter message">
                  <span class="input-group-btn">
      <button class="btn btn-success" ng-click="sendMessage(message)">Send</button>
    </span>
    </div>
	
  </div>
  	<div dropzone>Drop Files Here</div>
    <canvas id="snap" width="300" height="300"></canvas>
</div>
